.contenedor {
    width:90%;
    margin:10px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
  }

body{
    background-color: #FFF;
    width: 100%;
    height: 1100px;
}

header{
    background-color: #FF9AA2;
    width: 100%;
    height: 200px;
}
.logo {
    width: 10%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 10px;
    padding-left: 250px;
}
ul li {
    padding-left: 40px;
}
ul li a {
    color: #fff;
    text-decoration: none;
    background: pink;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 30px;
    margin: 10;
}

main{
    background-color: #B5EAD7;
    width: 100%;
    height: 1000px;
}

article{
    background-color: #FFF;
    width: auto;
    height: 800px; 

}

footer{
    background-color: #FF9AA2;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.logo{
width: 10%;
}

h1{
    font-size: 75px;
}

.title_to{
    width:100%;
    height: auto;
    border-top: #B5EAD7 solid 20px;
    border-bottom: #B5EAD7 solid 10px;
}

.contenido{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "title_to title_to title_to"
						 "buscar productos productos"
                         ;
}

.contenido .title_to{
	grid-area: title_to;
}

.contenido .buscar{
	grid-area: buscar;
    padding: 10px;
    margin:10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.contenido .productos{
	grid-area: productos;
    padding: 10px;
    margin:10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.buscador{
    display: flex;

   /*eje principal*/
   flex-direction: row;
    
   justify-content: center; /* alinea los hijos en el eje principal */

   /*eje secundario*/
   align-items: center; /* alinea los hijos en el eje secundario */
}

.buscar_productos{
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #FF9AA2;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-right: 0;

    order: 1;
}

.boton_buscar{
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #FF9AA2;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    border-left: 0;

    order: 2;
}

.productos{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "card-1 card-2 card-3"
						 "card-4 card-5 card-6"
                         ;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
    margin: 10px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #B5EAD7;
    border-radius: 10px;
}

.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.card-6{
    grid-area: card-6;
}

.card-img{
    width: 100%;
}

.card-body{
    height: 200px;
    background-color: #FF9AA2;
}

.card-text{
    padding: 10px;
    background-color: #B5EAD7;
    font-weight: bold;
}

.description{
    color: #fff;
    padding:5px;
    text-align: center;
}

.lista_productos,.iframe{
    padding: 10px;
}

/* pantalla maximo 980px */
@media screen and (max-width:980px) {
    .contenedor {
        width: 636px;
        margin: 0px;
    }

    header{
        height: 120px;
    }

    ul {
        flex-wrap: nowrap;
        margin: 0px 0px;
        padding-left: 10px;
    }

    ul li {
        padding-left: 10px;
    }

    ul li a {
        color: #fff;
        text-decoration: none;
        background: pink;
        padding: 4px 10px;
        border-radius: 30px;
        font-size: 20px;
        margin: 0;
    }
}

/* pantalla maximo 700px */
@media screen and (max-width:700px) {
    .contenedor {
        width: 635px;
        margin: 0px;
    }
}